<!--
  file name: botto.ejs
  Student name: Damanpreet Singh
  Student number: 301212574
  Date : 03-06-2022  
-->
<!--Bottom nav-->
<footer>
    <nav class = "navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6">&copy;Copyright 2020. All rights reserved</h6>
    </nav>
  </footer>

  