<!--
  file name: header.ejs
  Student name: Damanpreet Singh
  Student number: 301212574
  Date : 03-06-2022  
-->
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>
  <!--CSS Section-->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min..css">
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>

<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="E:/prdaman/portfolio/Assignment1/public/Content/projects.css">
    <title>Document</title>
</head>
<body id="projects">
    <header id="header">
        <div id="logo">
            <img src="E:/prdaman/portfolio/Assignment1/public/Assets/images/logo.png"/>
        </div>
        <div id="buttons">
            <a href="home.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="services.html">Services</a>
            <a href="aboutme.html">About</a>
            <a href="contacts.html">Contact</a>
        </div>
    </header>
    <main>
        <div id="container">
            <div id="heading">
                    <h1>Projects</h1>
            </div>
            <div id="cards">
                <div class="card">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/flat-calculator-vector-illustration-long-600w-554850088.jpg"/>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>    


                <div class="card">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/style-flat-ui-kit-design-600w-224517985.jpg"/>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>    
                <div class="card">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/website-template-design-modern-vector-600w-1059170765.jpg"/>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>    
            </div>
            


        </div>

    </main>


</body>
</html> -->
  