<!--MAIN NAVIGATION-->
<nav id="header">
  <div id="logo">
      <img src="E:/prdaman/portfolio/Assignment1/public/Assets/images/logo.png"/>
  </div>
  <div id="buttons">
      <a href="home.html">Home</a>
      <a href="projects.html">Projects</a>
      <a href="services.html">Services</a>
      <a href="aboutme.html">About</a>
      <a href="contacts.html">Contact</a>
  </div>
<!-- </nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="container-fluid">
      
        <a class="navbar-brand" href="/">COMP229</a>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
  
          < if (title == "Home"){%>
  
          <li class="nav-item Active">
            <} else {%> 
            <li class="nav-item">
              <} %>
  
            <a class="nav-link " aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house-signal"></i>Home</a>
          </li>
  
  
  
  
          
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/about">About</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/projectss">Projects</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/services">Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/contact"><i class="fa-solid fa-address-book"></i>Contact Us</a>
          </li>
          
      </div>
    </div>
  </nav> -->