<!--
  file name: main.ejs
  Student name: Damanpreet Singh
  Student number: 301212574
  Date : 03-06-2022  
-->

<!--MAIN NAVIGATION-->
<nav id="header">
  <div id="logo">
      <img src="https://media-private.canva.com/PfGvI/MAFC3PPfGvI/1/t.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20220606%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220606T160231Z&X-Amz-Expires=30715&X-Amz-Signature=45dcda93aa389546bf68a03069673de8976cedfce9acef70278fc782a9c647e3&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2007%20Jun%202022%2000%3A34%3A26%20GMT"/>
  </div>
  <div id="buttons">
      <a href="home_pg.ejs">Home</a>
      <a href="project_pg.ejs">Projects</a>
      <a href="services_pg.ejs">Services</a>
      <a href="aboutme.html">About</a>
      <a href="contact_.">Contact</a>
  </div>
<!-- </nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="container-fluid">
      
        <a class="navbar-brand" href="/">COMP229</a>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
  
          < if (title == "Home"){%>
  
          <li class="nav-item Active">
            <} else {%> 
            <li class="nav-item">
              <} %>
  
            <a class="nav-link " aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house-signal"></i>Home</a>
          </li>
  
  
  
  
          
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/about">About</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/projects">Projects</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/services">Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/contact"><i class="fa-solid fa-address-book"></i>Contact Us</a>
          </li>
          
      </div>
    </div>
  </nav> -->