*{
    padding: 0%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    width: 100%;
    overflow-x:hidden;
}


a{
    margin: 5px;
    text-decoration: none;
    color:white;
    font-size: x-large;
}

nav{
    background-color:green;
}

/* HEADER */
header nav{
    height:10vh;
}

/* MAIN CONTENT */



/* PROJECTS  AND SERVICES*/
#container{
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    position: relative;
    
}

#cards{
    height:100%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.card{
    width: 100%;
    height: 250px;
    background-color: white;
    padding: 5px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}


.card .image{
    width: 20%;
    height: 98%;
    margin-right: 5px;
    padding: 10px;
}
.card .description{
    width: 70%;
    height: 98%;
    font-size:20px;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}



/* MAIN HOMEPAGE */
.home{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    padding:10px;
}

.home #header{
    color:green;
    font-size:80px;
}

.home #description{
    font-size:50px;
}
