
<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<main id="about">
    <div id="aboutme">
        <div id="image">
            <img src="../../public/Assets/images/pp.jpeg" alt="Your browser doesn't support this image!" />  
        </div>
        <div id="descrip">
            <div class="drow" id="rowOne">
                Hi, I am Damanpreet Singh, resident of India. Talking about back home, I passed my high school in Patiala, India with flying colors and afterwards I came abroad for my further advanced studies. Here I am Studying Software Engineering Technician from Centennial College. Currently I am in third semester. In my last two semesters I studied Html,  and by the end of the course I will be a proficient software technician. 
            </div>
            <div class="drow" id="rowTwo">
                <button>
                    <a>Resume</a>
                </button>
            </div>
        </div>
    </div>   

</main>

<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>





