
<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<main id="about">
    <div id="aboutme">
        <div id="image">
            <img src="../../public/Assets/images/pp  </div>
        <div id="descrip">
            <div class="drow" id="rowOne">
            </div>
            <div class="drow" id="rowTwo">
            </div>
        </div>
    </div>   

</main>

<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>





