
<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<main id="about">
    <div id="aboutme">
        <div id="image">
            <img src="https://web.whatsapp.com/5db5f4f7-eb82-422e-b6cb-4b87ad9888a7"/>     
        </div>
        <div id="descrip">
            <div class="drow" id="rowOne">
            </div>
            <div class="drow" id="rowTwo">
            </div>
        </div>
    </div>   

</main>

<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>





