<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<main id="contactus">
    <div id="contact-info">
        <div id="heading">
            h
            CONTACT
        </div>
        <div class="myrws">
            <div class="myrw">
                <div>
                    <label>FIRST NAME</label>
                    <input id="fname" type="text" placeholder="DAMANPREET">
                </div>
                <div>
                    <label>LAST NAME</label>
                    <input id="lname" type="text" placeholder="SINGH">
                </div>
            </div>
            <div class="myrw">
                <div>
                    <label>EMAIL</label>
                    <input id="email" type="mail" placeholder="abcd@gmail.com" required>
                </div>
                <div>
                    <label>CONTACT NUMBER</label>
                    <input id="cnumber" type="number" placeholder="(+1)12345678" required>
                </div>
            </div>
            <div class="myrw msgg">
                <div>
                    <label>MESSAGE</label>
                    <textarea placeholder="Your query." required></textarea>
                </div>
            </div>
        </div>
    
    </div>
</main>
<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>