<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<main id="contactus">
    <div id="contact-info">
        <div id="heading">
            CONTACT
        </div>
        <div class="myrws">
            <div class="myrw">
                <div>
                    <label>FIRST NAME</label>
                    <input id="" type="" placeholder="">
                </div>
                <div>
                    <label>LAST NAME</label>
                    <input id="" type="" placeholder="">
                </div>
            </div>
            <div class="myrw">
                <div>
                    <label>EMAIL</label>
                    <input id="" type="" placeholder="">
                </div>
                <div>
                    <label>CONTACT NUMBER</label>
                    <input id="" type="" placeholder="">
                </div>
            </div>
            <div class="myrw msgg">
                <div>
                    <label>FIRST NAME</label>
                    <textarea placeholder="""">
                    </textarea>
                </div>
            </div>
        </div>
    
    </div>
</main>
<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>