<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

    <main id="projects">
        <div id="cont">
            <div id="head">
                    <h1>Projects</h1>
            </div>
          
            <div id="carss">
                <div class="cadd">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/flat-calculator-vector-illustration-long-600w-554850088.jpg"/>
                    </div>
                    <div class="description">
                         <h2>1. <u>Calculator</u></h2>
                        <p> In this current course I am creating a designer calculator using Java application and GUI (graphical user Interface)  which use for the design of the page.Moreover, I am using various components like jTextField ,JTestArea , label ,ComboBox and jSwing for making the design of Simple Calculator.
                                </p>
                    </div>
                </div>    


                <div class="cadd">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/style-flat-ui-kit-design-600w-224517985.jpg"/>
                    </div>
                    <div class="description">
                        <h2>2. <u>Photo Slider</u></h2>
                        <p>
                              


                               </p>
                    </div>
                </div>    
                <div class="cadd">
                    <div class="image">
                        <img src="Assets\images\pizza"/>
                    </div>
                    <div class="description">
                        
                            <h2>3. <u>GUI Pizza Website</u></h2>
                            <p>
                                In the last semester I completed this small project that can be used as a small component to make a professional ‘Pizza shop’ website. In this website I made a website that can preview the service like ordering pizza from a proper Menu, and Also option for the payment using different cards. Moreover, it provides the receipt of order to the customer by the mail. In this project I have used #c Programming ,GUI etc.

                        </p>
                    </div>
                </div>    
            </div>
        </div>
    </main>




<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>