<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

    <main id="projects">
        <div id="cont">
            <div id="head">
                    <h1>Projects</h1>
            </div>
          
            <div id="carss">
                <div class="cadd">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/flat-calculator-vector-illustration-long-600w-554850088.jpg"/>
                    </div>
                    <div class="description">
                         <h2>1. <u>Calculator</u></h2>
                        <p> In this current course I am creating a designer calculator using Java application and GUI (graphical user Interface)  which use for the design of the page.Moreover, I am using various components like jTextField ,JTestArea , label ,ComboBox and jSwing for making the design of Simple Calculator.
                                </p>
                    </div>
                </div>    


                <div class="cadd">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/style-flat-ui-kit-design-600w-224517985.jpg"/>
                    </div>
                    <div class="description">
                        <h2>2. <u>Photo Slider</u></h2>
                        <p>

                               </p>
                    </div>
                </div>    
                <div class="cadd">
                    <div class="image">
                        <img src="https://images.app.goo.gl/9gH1BuwCciL82Z6E6"/>
                    </div>
                    <div class="description">
                        <p>
                            <h2>3. <u</u></h2>
                            
                        </p>
                    </div>
                </div>    
            </div>
        </div>
    </main>




<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>