<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

    <main id="services">
        <div class="cont">
            <div class="head">
                    <h1>Services</h1>
            </div>
          
            <div class="carss">
                <div class="cadd">
                    <div class="image">
                        <img src="Assets\images\Hardware.PNG"/>
                    </div>
                    <div class="description">
<h2>1. <u>Hardware Repairing </u></h2>
                        <p>
                            I have a knowledge about the hardware and I used to do this service occasionally and also I have experience in the hardware as I worked in the private company at my back home.Here in Canada also I use to repear pc's of     
                        </p>
                    </div>
                </div>    


                <div class="cadd">
                    <div class="image">
                        <img src="Assets\images\web.jpg"/>
                    </div>
                    <div class="description">
                        <h2>2. <u>Web development </u></h2>
                        <p>
                            Web development refers in general to the tasks associated with developing websites for hosting via intranet or internet. The web development process includes web design, web content development, client-side/server-side scripting and network security configuration, among other tasks
                           
                        </p>
                    </div>
                </div>    
                <div class="cadd">
                    <div class="image">
                        <img src="Assets\images\language.png"/>
                    </div>
                    <div class="description">
                        <h2>3. <u>Programming languages </u></h2>
                        <p>
                           
                            A programming language is a type of written language that tells computers what to do. Examples are: Python, Ruby, Java, JavaScript, C, C++, and C#. Programming languages are used to write all computer programs and computer software.
                        </p>
                    </div>
                </div>    
            </div>
        </div>
    </main>




<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>