<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

    <main id="services">
        <div class="cont">
            <div class="head">
                    <h1>Services</h1>
            </div>
          
            <div class="carss">
                <div class="cadd">
                    <div class="image">
                        <img src="Assets\images\Hardware.PNG"/>
                    </div>
                    <div class="description">
<h2>1. <u>Hardware Repairing </u></h2>
                        <p>
                                
                        </p>
                    </div>
                </div>    


                <div class="cadd">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/style-flat-ui-kit-design-600w-224517985.jpg"/>
                    </div>
                    <div class="description">
                        <h2>2. <u>Web development </u></h2>
                        <p>
                           
                           
                        </p>
                    </div>
                </div>    
                <div class="cadd">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/website-template-design-modern-vector-600w-1059170765.jpg"/>
                    </div>
                    <div class="description">
                        <h2>3. <u>Programming languages </u></h2>
                        <p>
                           
                            
                        </p>
                    </div>
                </div>    
            </div>
        </div>
    </main>




<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>